@page
@model CodearxEFCoreRP3CMS.Areas.Admin.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.AuthorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.AuthorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
