@page
@model Posts.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Pages/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="./Create">Create New</a>
</p>

@Html.AntiForgeryToken()
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.DisplayName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-postId="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-postId="@item.ID" data-action="delete" data-value="@item.Title">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
